@import '../colors.scss';

#ProjectsPage {
  background-color: $dark-grey;
  padding-bottom: 20vh;

  .projects-header-container {
    padding-top: 100px;
    padding-left: 5vw;

    .projects-header {
      font-family: 'menlo', serif;
      color: $orange;
      font-size: 1.2rem;
      letter-spacing: 3px;
    }
  }

  @media screen and (max-width: 767px) {
    .projects-header-container {
      padding-left: 0px;
      padding-top: 100px;
      display: flex;
      justify-content: center;
  
      .projects-header {
        font-family: 'menlo', serif;
        color: $orange;
        font-size: 1.5rem;
        letter-spacing: 3px;
      }
    }
  }

}