@import '../colors.scss';

#Navigation {
  z-index: 1;
  width: 100vw;
  // background-color: rgba(242, 169, 60, 0.8);
  background-color: rgba(0, 0, 0, 0.8);
  // border-bottom: 1px solid rgba(255, 238, 0, 0.2);
  position: fixed;
  top: 0;
  height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: row;

  #links {
    padding-right: 5vw;
    width: 50vw;
    // border: 1px solid red;
    display: flex;
    justify-content: flex-end;

    a {
      align-self: center;
      padding-left: 20px;
      padding-right: 20px;
      color: grey;
    }

    a:hover {
      color: white;
    }
    
  }

  #name-link {
    font-size: 1.5rem;
    padding-left: 5vw;
    width: 50vw;
    // border: 1px solid red;
    align-self: center;
    display:flex;
    justify-content: flex-start;

    a {
      align-self: center;
    }
  }

  a {
    background:
       linear-gradient(
         to bottom, orange 0%,
         orange 100%
       );
      background-position: 0 100%;
      background-repeat: repeat-x;
      background-size: 0px 0px;
    color: white;
    text-decoration: none;
    transition: background-size .2s;
  }
  
  a:hover {
    background-size: 1rem 0.5rem;
  }
}