@import '../colors.scss';

#Navigation {
    position:fixed;
    bottom: 0px;
    left: 50px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // height: 100vh;
    // border: 1px solid red;

    .vertical {
      border-left: 1px solid white; 
      height: 8vh;
      // position: absolute; 
      z-index: 1; 
    }

    a {
      text-decoration: none;
      padding: 10px;
      // border: 1px solid red;
      font-size: 0.7rem;
      color: white;

      &:hover {
        background-color: $purple;
        transition: 0.5s;
      }
    }

    // .links {
    //   z-index: 2;
    //   // position: absolute;
    //   transform: rotate(-90deg);
    //   text-align: left;
    //   left: 0px;

    //   a {
    //     padding: 20px;
    //     text-decoration: none;
    //     color: $purple;
    //   }
    // }
}

@media screen and (max-width: 767px) {
  #Navigation {
    position:fixed;
    display: none;
    left: 50%;
    top: 20px;

    .vertical {
      border: none;
    }

    .links {
      top: 0px;
      transform: rotate(0deg);
      left: 0px; 
      a {
        padding: 0 30px 30px 0;
      }
    }
  }
}